body {
  background-image: linear-gradient(to right,#b8d2d4, #43d3db);
  font-family: 'Poppins', sans-serif;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}

.column {
  flex: 50%;
}

h1 {
  color: black;
  font-size: 40px;
}

h3 {
  font-weight: lighter;
  color: black;
}

#avi {
  width: 400px;
  height: auto;
}

.projects {
  text-align: center;

}

.break {
  width: 90%;;
  border: 2px solid;
  margin: 5%;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.project {
  width: 90%;
  background-color: rgba(240, 238, 133, 0.4);
  text-align: center;
  margin: auto;
  border-radius: 14px;
}


.myInfo img {
  border-radius: 15px;
}

.column img {
  border-radius: 10px;
}
